
.container {
  position: relative;
  z-index: 0;

  .logo-wrapper {
    max-width: 400px;
    width: 100%;

    position: absolute;
    z-index: -100;
    top: 13%;
    color: #22cfc8;
    //color: #059dcb;
    font-size: 40px;
    font-family: "Comic Sans MS", "Copperplate Gothic Bold", sans-serif;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin-left: 15px;
      height: 60px;
      width: 60px;

    }
  }

  .left {
    position: absolute;
    z-index: -100;
    left: 3%;
    bottom: 3%;
    height: 250px;
    width: 350px;
  }

  .right {
    position: absolute;
    z-index: -100;
    right: 3%;
    bottom: .5%;

    height: 250px;
    width: 350px;
  }
}
